<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>items</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css"/>
</head>
<body>
show items
<!--
<table class="table table-bordered">
    <thead>
    <tr>
        <th>名称</th>
        <th>单位</th>
        <th>单价</th>
        <th>优惠活动</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="item,iter : ${item_list}">
        <tr>
            <td th:text="${item.name}"></td>
            <td th:text="${item.units}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.discount}"></td>
        </tr>
    </th:block>
    </tbody>
</table>

<script src="/js/jquery.min.js" charset="utf-8"></script>
<script src="/lib/bootstrap/js/bootstrap.js" charset="utf-8"></script>
-->

</body>
</html>