<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>show my cart</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/my.css"/>
    <script src="/js/jquery.min.js" charset="utf-8"></script>
    <script src="/lib/bootstrap/js/bootstrap.js" charset="utf-8"></script>
    <script src="/js/my.js" charset="utf-8"></script>
</head>
<body onload="showShop()">
    <div class="container">
        <div class="center">
            <input type="button" value="结算" onclick="payments()">
        </div>
        <div id="myShop"></div>
    </div>
</body>
</html>