<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>print receipts</title>
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/my.css"/>
    <script src="/js/jquery.min.js" charset="utf-8"></script>
    <script src="/lib/bootstrap/js/bootstrap.js" charset="utf-8"></script>
    <script src="/js/my.js" charset="utf-8"></script>
</head>
<body>
<div class="container">
    <div>***&lt没钱赚商店&gt收据***</div>
    <th:block th:each="item: ${map.items}">
        <div>
            <span th:text="'名称：'+${item.name}"></span>，
            <span th:text="'数量：'+${item.number}"></span>，
            <span th:text="'单价：'+${item.price}"></span>，
            <span th:text="'小计：'+${item.subTotal}"></span>
        </div>
    </th:block>
    <div>----------------------</div>
    <div><span th:text="'总计：'+${map.total}"></span></div>
    <div><span th:text="'节省：'+${map.discount}"></span></div>
    <div>**********************</div>
</div>
<script src="/js/jquery.min.js" charset="utf-8"></script>
<script src="/lib/bootstrap/js/bootstrap.js" charset="utf-8"></script>
<script src="/js/my.js" charset="utf-8"></script>
</body>
</html>